<h1> Track Name </h1>


<%= @track.name %>
<br>
<br>

<%= @track.lyrics %>
<br>
<br>


  <h3>Notes</h3>
<% @track.notes.each do |note| %>
<%= note.note_body %> posted by <%= note.user.email %>
<br>

  <% end %>

<br>
<br>

<br>
<br>

<a href="http://localhost:3000/tracks/<%= @track.album_id %>/notes/new">
  Leave a new note
</a>





<a href="http://localhost:3000/albums/<%= @track.album_id %>/">

Back to Album
</a>
